# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

POSTGRES_DB="postgres_db"
POSTGRES_USER="postgres_user"
POSTGRES_PASSWORD="postgres_password"

PGADMIN_DEFAULT_EMAIL="example@gmail.com"
PGADMIN_DEFAULT_PASSWORD="example_password"

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"

JWT_SECRET="exmaple_jwt_secret"

# This is optional, it disabled ERD generation on `prisma generate`, keep it disabled in production as it can be a performance bottleneck for large schemas.
DISABLE_ERD=true

SOLANA_RPC_ENDPOINT="https://api.devnet.solana.com"
HOUSE_WALLET_SECRET="example_house_wallet_secret"
MAX_WITHDRAWAL_AMOUNT="100000"
CMC_API_KEY="example_cmc_api_key"
CMC_URL="https://pro-api.coinmarketcap.com/"

SPACES_URL="https://looties-bucket.fra1.digitaloceanspaces.com"
SPACES_ACCESS_KEY="spaces_access_key"
SPACES_SECRET_KEY="speces_secret_key"